body{
  font-family: 'Red Hat Text', sans-serif;
  background-color: #FFFFFF;
}

header{
  margin-top: 75px;
}

#header-content-right{
  line-height: 200px;
}
#sobre-mi{
  background: #CDCDCD;
  padding: 50px 0 30px 0;
  text-align: center;
  margin-top: 40px;
}
#habilidades{
  background: #E3BEAB;
  padding: 50px 0 30px 0;
  text-align: center;
  margin-top: 40px;
}
#conocimientos{
  padding-top: 40px;
  padding-bottom: 40px;
}
#barra1-color{
  background: #212529; 
}

#laboral{
  background-color: #E3BEAB;
  padding: 40px 0 30px 0;
  text-align: center;
}

#contacto{
  padding: 40px 0 30px 0;
  background-color: #343a40;
  color: #FFFFFF;
}
#fin{
  padding: 10px 0 0px 0;
  background-color: #212529;
  color: #545c66;
}

#icono1{
    margin: 20px;
	color: #FFFFFF;
}
#h10 {
	font-size: 15px;
}

.whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}

.whatsapp-icon {
  margin-top:13px;
}
